<!DOCTYPE html>
<html>
<title>
IAFC-Form
</title>
   <body>
      <h1>IAFC - Crowdsourced Data</h1>
      <h3>This form will be used during prototyping phase to obtain data from initial users regarding corruption cases.</h3>	
      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <label for="face">Did you face corruption ever in your life or seen someone close to you face it?</label>
            <input type="text" id="face" name="face"/>
            <br />
            <label for="desp">Enter the kind of corruption and a little detail on that (Enter "no" if not faced)</label>
            <input type="text" id="desp" name="desp"/>
            <br />
            <label for="rating">Rate the level of corruption according to you (Select 0 if not faced)</label>
            <textarea id="rating" name="rating"></textarea>
            <br />
            <input type="submit" value="Create Data" />
         </fieldset>
      </form>
   </body>
</html>
